################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build

examples/bin/

examples/build/

examples/graph_info\.json

examples/conaninfo\.txt

examples/conanbuildinfo\.txt

examples/conanbuildinfo\.cmake

examples/conan_imports_manifest\.txt
